header{
    background-color: black;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-family: 'Eagle Lake';
    padding: 10px 50px;
}

#logo{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    /* border: 1px solid #FDDC5C; */
}

nav{ 
    display: flex;
    gap: 20px;
}
.nav-link{
    font-size: 15px;
    color: #C9AE5D;
    border: 1px solid #FDDC5C;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    background-color: #FDDC5C;
}

footer{
    background-color: black;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    position: absolute;
}

footer p{
    color: #C9AE5D;
    text-align: center;
    font-family: 'Eagle Lake';
}

#events, #event_details{
    display: flex;
    justify-content: center;
    color: #C9AE5D;
    gap: 20px;
}
.event_card, .details{
    box-shadow: 5px 5px 5px orange;
    margin-top: 80px;
    padding: 30px;
    border-radius: 15px;
    width: 250px;
    height: 250px;
    background-color: black;
}

.details{
    height: 350px;
    width: 300px;
    margin-top: 20px;
}

.event_card h2{
    color: orange;
    font-family: 'Algerian';
    font-weight: lighter;
}

.event_card p{
    font-family: 'Eagle Lake';
    color: orange;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
}

.event_card a{
    font-size: 20px;
    color: #C9AE5D;
    border: 1px solid #FDDC5C;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Monotype Corsiva';
}

.details h2{
    color: orange;
    font-family: 'Algerian';
    font-weight: lighter;
    margin-bottom: 20px;
    margin-top: 5px;
}
.details p, label{
    font-family: 'Times new Roman';
    font-weight: bolder;
    font-style: italic;
    color: orange;    
    margin-top:10px;
    font-size: 15px;
}

.register-btn{
    font-size: 20px;
    color: black;
    border: 1px solid #FDDC5C;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Monotype Corsiva';
    font-weight: 600;
    background-color: orange;
}

input{
    background-color:  #C9AE5D;
    border-radius: 3px;
}

